{% extends 'base.html.twig' %}

{% block body %}
    <h1>Specialite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ specialite.nom }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if specialite.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if specialite.date %}{{ specialite.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('specialite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('specialite_edit', { 'id': specialite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
