<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- bootstrap-css -->
        <link rel="stylesheet" href="{{asset('admin/css/bootstrap.min.css')}}" >
        <!-- //bootstrap-css -->
        <!-- Custom CSS -->
        <link href="{{asset('admin/css/style.css')}}" rel='stylesheet' type='text/css' />
        <link href="{{asset('admin/css/style-responsive.css')}}" rel="stylesheet"/>
        <!-- font CSS -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <!-- font-awesome icons -->
        <link rel="stylesheet" href="{{asset('admin/css/font.css')}}" type="text/css"/>
        <link href="{{asset('admin/css/font-awesome.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('admin/css/morris.css')}}" type="text/css"/>
        <!-- calendar -->
        <link rel="stylesheet" href="{{asset('admin/css/monthly.css')}}">
        <!-- //calendar -->
        <!-- //font-awesome icons -->
        <script src="{{ asset('admin/js/jquery2.0.3.min.js') }}"></script>
        <script src="{{ asset('admin/js/raphael-min.js') }}"></script>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<style>
    .alert{
        display: none;
    }
    .myAlert-top{
        position: fixed;
        top: 5px;
        left:2%;
        width: 50%;
        z-index: 1000;
    }
</style>
<body>
<div class="myAlert-top alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="alert_txt">You have a seance who will start soon </span>
</div>
<section id="container">
{% include 'layout-pro/header.html.twig' %}
<!--sidebar start-->
{% include'layout-pro/menu.html.twig' %}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper" style="min-height: 85vh">
{% block body %}



{% endblock %}
        <button type="button" class="btn btn-primary mybtn " data-toggle="modal" data-target="#myModal">
            Click Me !
        </button>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <center>  <span class="modal-title">Login form</span></center>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="text-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        <div class="form-div">
                            <form action="/action_page.php">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Registered E-Mail ID">
                                </div>
                                <div class="form-group">

                                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-warning btn-block mybtn">Submit</button>
                                <center><a href="#" title="Reset Password"><small>Forgot Password ?</small></a></center>
                                <button type="submit" class="btn btn-primary btn-block mybtn">Login with facebook</button>
                                <button type="submit" class="btn btn-danger btn-block mybtn">Login with Google-Plus</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>
{% include'layout-pro/footer.html.twig' %}

</section>
<!--main content end-->
</section>

{% block javascripts %}
    <script src="{{ asset('admin/js/bootstrap.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('admin/js/scripts.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.nicescroll.js') }}"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('admin/js/flot-chart/excanvas.min.js') }}"></script><![endif]-->
    <script src="{{ asset('admin/js/jquery.scrollTo.js') }}"></script>

    <!-- calendar -->
    <script type="text/javascript" src="{{ asset('admin/js/monthly.js') }}"></script>
    <script type="text/javascript">
        $(window).load( function() {

            $('#mycalendar').monthly({
                mode: 'event',

            });

            $('#mycalendar2').monthly({
                mode: 'picker',
                target: '#mytarget',
                setWidth: '250px',
                startHidden: true,
                showTrigger: '#mytarget',
                stylePast: true,
                disablePast: true
            });

            switch(window.location.protocol) {
                case 'http:':
                case 'https:':
                    // running on a server, should be good.
                    break;
                case 'file:':
                    alert('Just a heads-up, events will not work when run locally.');
            }

        });
    </script>
    <!-- //calendar -->
{% endblock %}
<script src="https://cdn.webrtc-experiment.com/DetectRTC.js"> </script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>





<script type="text/javascript">

    /*
     var notif = new WebSocket("ws://localhost:8080");

     notif.onopen = function() {
     var data = {
     type: 'login',
     from: "test",
     id: x
     };

     var msgJSON = JSON.stringify(data);
     // notif.send(msgJSON);
     }*/
    $(document).ready(function(){

        /*
         DetectRTC.load(function() {
         console.log("DetectRTC");

         if (DetectRTC.isWebRTCSupported === false) {
         alert('Please use Chrome or Firefox.');
         }

         if (DetectRTC.hasWebcam === false) {
         alert('Please install an external webcam device.');
         }

         if (DetectRTC.hasMicrophone === false) {
         alert('Please install an external microphone device.');
         }

         if (DetectRTC.hasSpeakers === false && (DetectRTC.browser.name === 'Chrome' || DetectRTC.browser.name === 'Edge')) {
         alert('Oops, your system can not play audios.');
         }


         });*/

        {% if is_granted("ROLE_PRO") %}
        console.log("sdfsdfsdfsdf")
            var user = {{ app.user.id }};
            console.log(user)
            pageReady(user);
        {% endif %}

       /* $("#call_btn").click(function(){
            console.log("btn call clicked");
            var userid = $(this).data("id");
            console.log(userid);

            invite(userid);
        })*/


    });

</script>
<script src="{{ asset('webrtc.js') }}"></script>
</body>
</html>