
<div class="footer">
    <div class="wthree-copyright">
        <p>© 2019 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>
<!-- / footer -->