<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="{{ path('pro_homepage') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard pro</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span>Mon compte</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('pro-profil') }}"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li> <a href="{{ path('pro-modif-profile', { 'id': app.user.id }) }}"><i class="fa fa-cog"></i>Modifier</a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="{{ path('pro-planning') }}">
                        <i class="fa fa-th"></i>
                        <span>Planning</span>
                    </a>

                </li>
                <li>
                    <a href="{{ path('mes-rdvs') }}">
                        <i class="fa fa-bullhorn"></i>
                        <span>Mes RDV </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-bell-o"></i>
                        <span>Notification</span>
                    </a>

                </li>

                <li>
                    <a href="login.html">
                        <i class="fa fa-key"></i>
                        <span>Deconnexion</span>
                    </a>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>