<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('layout/css/bootstrap.min.css') }}">
            <link href="{{ asset('layout/css/all.css') }}" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ asset('layout/css/animate.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('layout/css/style.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <style>
        .alert{
            display: none;
        }
        .myAlert-top{
            position: fixed;
            top: 5px;
            left:2%;
            width: 50%;
            z-index: 1000;
        }
    </style>
    <body>

    <div class="main">
        <div class="myAlert-top alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span id="alert_txt">You have a seance who will start soon </span>
        </div>
        <!-- header start-->
        <div class="header" style="    background: white;">
    {% include'header.html.twig' %}
            {% block slider %}{% endblock %}

    </div>
    <!-- content area -->
    <div class="content">

        {% block body %}{% endblock %}




        {% include 'footer.html.twig' %}

    </div>

    </div>






        {% block javascripts %}

            <script type="text/javascript" src="{{ asset('layout/js/bootstrap.min.js') }}"></script>
            <script defer src="{{ asset('layout/js/fontawesome.min.js') }}"></script>



            <script src="{{ asset('client/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>

            <!-- Tabs-JavaScript -->

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default',
                        width: 'auto',
                        fit: true,
                        closed: 'accordion',
                        activate: function(event) {
                            var $tab = $(this);
                            var $info = $('#tabInfo');
                            var $name = $('span', $info);
                            $name.text($tab.text());
                            $info.show();
                        }
                    });
                    $('#verticalTab').easyResponsiveTabs({
                        type: 'vertical',
                        width: 'auto',
                        fit: true
                    });
                });
            </script>
        {% endblock %}

    <script src="https://cdn.webrtc-experiment.com/DetectRTC.js"> </script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>





    <script type="text/javascript">

        /*
         var notif = new WebSocket("ws://localhost:8080");

         notif.onopen = function() {
         var data = {
         type: 'login',
         from: "test",
         id: x
         };

         var msgJSON = JSON.stringify(data);
         // notif.send(msgJSON);
         }*/
        $(document).ready(function(){

            /*
             DetectRTC.load(function() {
             console.log("DetectRTC");

             if (DetectRTC.isWebRTCSupported === false) {
             alert('Please use Chrome or Firefox.');
             }

             if (DetectRTC.hasWebcam === false) {
             alert('Please install an external webcam device.');
             }

             if (DetectRTC.hasMicrophone === false) {
             alert('Please install an external microphone device.');
             }

             if (DetectRTC.hasSpeakers === false && (DetectRTC.browser.name === 'Chrome' || DetectRTC.browser.name === 'Edge')) {
             alert('Oops, your system can not play audios.');
             }


             });*/


            {% if is_granted("ROLE_PARTICULIER") %}
                 var user = {{ app.user.id }};
                console.log(user)
                pageReady(user);
            {% endif %}

            {% if is_granted("ROLE_PRO") %}
            var user = {{ app.user.id }};
            console.log(user)
            pageReady(user);
            {% endif %}




        });

    </script>
    <script src="{{ asset('webrtc.js') }}"></script>
    </body>
</html>
