<section class="topFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="textwidget"><p class="footer-title">Plan du site</p></div>
                <ul class="footerLink">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Comment ca marche</a></li>
                    <li><a href="#">Nos pro</a></li>
                    <li><a href="#">Contactez nous</a></li>
                </ul>
            </div>

            <div class="col-md-3 ftContact">
                <div class="textwidget"><p class="footer-title">Contactez nous</p></div>
                <p>Adresse:</p>
                <p>Tel: 00087992022</p>
            </div>
            <div class="col-md-3">
                <div class="textwidget"><p class="footer-title">mode de paiement</p></div>
                <img src="{{ asset('layout/images/payment.png') }}" class="img-responsive">
            </div>
            <div class="col-md-3">
                <div class="textwidget"><p class="footer-title">www.votresite.com</p></div>
                <div class="mapouter"><div class="gmap_canvas"><iframe width="250" height="230" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 footerLink2">
                <ul>
                    <li><a href="#">Aide</a></li>
                    <li>|</li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li>|</li>
                    <li><a href="#">Mentions legales</a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>