
    <!-- top header -->
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="topLinks justify-content-end float-right">
                        <nav class="navbar navbar-expand-lg ">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#"><i class="fa fa-user"></i> Sondage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-bell"></i> Mooc</a>
                                </li>

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {% if is_granted('ROLE_PRO') %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('pro_homepage') }}" id="user_profile_notif"><i class="fa fa-user"></i> Profile</a>
                                            </li>
                                        {% elseif is_granted('ROLE_PARTICULIER') %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('particulier_homepage') }}" id="user_profile_notif"><i class="fa fa-user"></i> Profile</a>
                                            </li>
                                        {% endif %}


                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user"></i> Déconnecté</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                        <a class="nav-link" href="{{ path('fos_user_security_login') }}"><i class="fa fa-question-circle"></i> Se connecter</a>
                                         </li>
                                    {% endif %}


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top header -->
    <!-- main nav -->
    <div class="main-nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg ">
                        <a class="navbar-brand" href="#">LOGO</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('homepage') }}">Accueil<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('nos-professionnels') }}">Nos professionnels </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('register-professionnel') }}">Je suis un pro</a>
                                </li>
                                <li>
                                    <button class="btn btn-sm bg-danger" type="button">Nos videos</button>
                                </li>
                                <li>
                                    <button class="btn btn-sm  bg-success" type="button">73.00.00.00</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


