<!-- slider -->
<div class="row homeSlider">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('layout/images/slide1.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block fadeInDown">
                    <h5>The standard Lorem Ipsum passage Ipsum passage.</h5>
                    <strong>Lorem ipsum dolor sit amet.</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,</p>
                    <a  class="btn btn-primary btn-lg" href="{{ path('register-particulier') }}">Je m'inscris</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('layout/images/slide2.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block fadeInRight">
                    <h5>The standard Lorem Ipsum passage Ipsum passage.</h5>
                    <strong>Lorem ipsum dolor sit amet.</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,</p>
                    <a  class="btn btn-primary btn-lg" href="{{ path('register-particulier') }}">Je m'inscris</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('layout/images/slide3.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>The standard Lorem Ipsum passage Ipsum passage.</h5>
                    <strong>Lorem ipsum dolor sit amet.</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,</p>
                    <a  class="btn btn-primary btn-lg" href="{{ path('register-particulier') }}">Je m'inscris</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>