.slots {
    background: #f1fbfd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slots.afternoon{
    background: #fcf7f3;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.slots.evenning{
    background: #eeeff1;
}

.period {
    font-size: 12px;
    text-align: center;
    color: #666;
}

.period > i{
    font-size: 20px;
    display: block;
}

.moorning{
//background: #eeeff1;
}


body { display: felx; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal;
    -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    -ms-flex-line-pack: center; align-content: center; }

body > p { font-family: "Satellite", "Roboto", sans-serif; font-size: 20px; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 20px 40px; text-align: justify; }

.calendar { width: 800px; height: 800px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical;
    -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: "Satellite", "Roboto", sans-serif;
    border: 1px solid rgba(21, 21, 21, 0.12); -webkit-transform: scale(1); transform: scale(1); box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; }

.calendar.small { width: 100%; height: 400px; }

.calendar.medium { width: 600px; height: 600px; }

.calendar.large { width: 800px; height: 800px; }

.year { width: calc(100% - 0px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center;
    justify-content: center; padding: 5px; font-size: 14px; }

.year > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; }

.year > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center;
    justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center;
    align-content: center; }

.month {
    width: calc(100% - 0px);
    display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center;
    justify-content: center; padding: 20px 5px; font-size: 40px; box-shadow: 0px 2px 6px rgba(21, 21, 21, 0.21); }

.month > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center;
    -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center;
    -ms-flex-align: center; align-items: center; text-transform: uppercase; }

.month > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center;
    justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center;
    align-content: center; }

.labels { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal;
    -ms-flex-direction: row; flex-direction: row; }

.labels > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 12px; text-transform: uppercase; display: -webkit-box;
    display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center;
    align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px; }

.days { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical;
    -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21); }

.myrow {     margin-left: 0; width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.day { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 5px; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;
    border-bottom: 1px solid rgba(21, 21, 21, .12); border-right: 1px solid rgba(21, 21, 21, .12); /* cursor: pointer; */
    -webkit-transition: box-shadow 200ms ease-in-out; transition: box-shadow 200ms ease-in-out; cursor : unset;
    pointer-events: none;}

.day:last-child { border-right: none; } .day:hover { background-color: rgba(21, 21, 21, 0.012);
                                            box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); }

.day-radios { display: none; } .day-radios:checked + .day { background-color: rgba(21, 21, 21, 0.012);
                                   box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); }
.day > span {
    width: 100%;   padding-top: 3px;  text-align: center; font-size: 14px; color: rgba(21, 21, 21, 0.84);
}

.day.diluted { background-color: rgba(21, 21, 21, 0.021); box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12); }

.day.diluted > span { width: 100%; font-size: 12px;    padding-top: 5px;  color: rgba(21, 21, 21, 0.73); }

.events { width: 800px; /* height: 800px; */ font-family: "Satellite", "Roboto", sans-serif; box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21);
    border: 1px solid rgba(21, 21, 21, 0.12); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical;
    -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-user-select: none; user-select: none;
    -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; }

.events.small { width: 100%; /* height: 400px; */ } .events.medium { width: 600px; height: 600px; }

.events.large { width: 800px; height: 800px; } .date { width: calc(100% - 0px); display: -webkit-box; display: -ms-flexbox; display: flex;
                                                   -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;
                                                   background-color: ' + this.calendar.colors[1] + '; color: ' + this.calendar.colors[3] + '; -webkit-box-pack: center;
                                                   -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; }

.date > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; }

.date > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center;
    justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center;
    align-content: center; }

.rows { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden !important; }

.list { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow-y: auto !important; padding: 0; margin: 0; color: rgba(21, 21, 21, 0.94); }

.list > li { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border-bottom: 1px solid rgba(21, 21, 21, 0.12); }

.list > li:hover { box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); }

.list > li > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 2; -ms-flex: 2; flex: 2;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center;
    align-items: center; -ms-flex-line-pack: center; align-content: center; padding: 10px; border-right: 1px solid rgba(21, 21, 21, 0.12); }

.time { font-size: 14px; }

.m { font-size: 14px; text-transform: uppercase; padding-left: 5px; }

.list > li > p { -webkit-box-flex: 4; -ms-flex: 4; flex: 4; margin: 10px; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center;
    align-items: center; -ms-flex-line-pack: center; align-content: center; font-size: 18px; word-wrap: break-word; word-break: break-word; }

.active{
    cursor : pointer;
    pointer-events: initial;
}

.notActive{
    cursor : unset;
    pointer-events: none;
}

.colorSeance{
    background-color: #52c9ff;
    color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
     width: 30px !important;
    height: 25px !important;
    margin-left: 25%;
    -webkit-border-radius: 50%;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-primaryLine {
    margin: 5px;
}
.btn-primaryLine {
    background-color: transparent;
    color: #007c9d;
    border-color: #007c9d;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primaryLine:focus, .btn-primaryLine:hover {
    background-color: #007c9d;
    color: #fff;

a, a:hover {
    text-decoration: none;
}






 