body {
	font-family: 'Roboto Condensed', sans-serif;
}
.main {
	overflow: hidden;
}
.text-right {
	text-align: right;
}
.float-right {
	float: right;
}
.text-center {
	text-align: center;
}
.bigTitle {
	padding: 50px 0;
	color: #1b8b94;
}
.titleSmal {
	color: #1b8b94;	
}
.main-nav {
	width: 95%;
	margin: 0 auto;
}

.top-nav nav, .main-nav nav {
	padding-top: 0;
} 
.top-nav a, .main-nav a {
	color:#333;
}
.main-nav a {
	text-transform: uppercase;
	font-size: 16px;
	padding: 8px 20px !important;
    font-weight: 600;
}
.main-nav nav button {
	margin: 5px 8px 0;
    color: #fff;
    font-size: 16px;
}
.homeSlider .carousel-caption {
	position: absolute;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding: 20px 25px;
    left: 55%;
    color: #fff;
    text-align: left;
    background: #7f888f;
    width: 30%;
    height: 85%;
    border-radius: 10px;
    -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  margin-left:80px;
}
.homeSlider .carousel-caption h5 {
	font-size: 24px;
    font-weight: 900;
    padding-bottom: 6px;
}
.homeSlider .carousel-caption p {
	font-size: 14px;
	padding: 10px 0;
}
.homeSlider .carousel-caption button {
	background-color: #a6c404 !important;
	color: #fff;
	border: 1px solid #a6c404;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #7f888f;
}

/*content area*/
.how-works .easy-three {
    position: relative;
    float: left;
    text-align: left;
    padding: 20px 20px;
    color: #fff;
    background: #ec7323;
    z-index: 1;
    width: 22%;
}
.how-works .easy-three:after, .how-works .easy-three:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: #ec7323;
}
.how-works .easy-three:before {
    right: 100%;
    width: 1000px;
}
.how-works .easy-three h2 {
    font-size: 22px;
    padding-top: 5px;
}
.how-works .easy-three h5 {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
}
.how-works .easy-three:after {
    left: 80%;
    width: 100px;
    z-index: -1;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    border: 1px solid #ec7323;
}
.how-works .easy-three:after {
    top: .5%;
    height: 99.5%;
}
.how-works ul {
    margin: 0;
    padding: 0 0 0 40px;
    overflow: hidden;
    width: 77%;
}
.how-works li {
    list-style: none;
    text-align: center;
    width: 19.5%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}
.how-works li i {
	font-size: 32px;
	color: #606060;
}
.how-works li:before {
    display: inline-block;
    position: absolute;
    right: -25px;
    top: 62%;
    height: 25px;
    width: 60px;
    margin-top: -12px;
    font: normal normal normal 50px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    background: url('../images/arrow.png') no-repeat;
}
.how-works li.last:before { 
	display: none;
}
.how-works li .icon-sec {
    height: 55px;
    line-height: 57px;
    font-size: 30px;
    display: inline-block;
    color: #606060;
    transition: all .7s ease;
    margin-top: 0;
}
.text-primary {
    color: #007c9d!important;
    font-size: 14px;
}
.how-works h5 small {
    color: #666;
    font-size: 13px;
    display: block;
    font-weight: 400;
    padding-top: 4px;
}
.videos {
	padding: 15px 0;
}
.consultation {
	padding-top: 50px;
}
.consultation h2 {
	text-transform: uppercase;
}
.consultation p {
	font-size: 16px;
}
.bg1 {
    background: #02b8b9;
}
.bg2 {
    background: #3696e0;
}
.bg3 {
    background: #cd3947;
}

.bg4 {
    background: #e9c70e;   
}
.bg5 {
    background: #a6c303;
}
.bg6 {
    background: #f69024;
}
.fusion {
	padding: 15px 0 20px;
}
.icon i {
    line-height: 62px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 31px;
    padding: 8px 25px;
}

.fusion-des {
	padding-top: 10px;
}
#partnerCarousel {
    padding-bottom: 50px;
}
#partnerCarousel .carousel-control-next {
	right: -100px;
	color: black;
    font-size: 60px;
    top: -20px;
}
#partnerCarousel .carousel-control-prev {
	left: -100px;
	color: black;
    font-size: 60px;
    top: -20px;
}
.itemBox {
    text-align: center;
    padding-top: 20px;
}
#partnerCarousel img {
    width: 65%;
}
.topFooter {
    padding: 25px 0 0;
    background: #0d1215;
}
.topFooter {
    font-size: 18px;
    color: #fff;
}
.footer-title {
    color: #a6c415;
    font-size: 1.3em;
    font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;
}
.footerLink {
    list-style-type: none;
    padding: 0;
}
.footerLink {
    list-style-type: none;
}
.footerLink li a {
    font-size: 18px;
    color: #fff;
}
.footer {
    padding: 20px 0;
    background-color: #5f5f5f;
}
.footer p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.footer p a {
    color: #e2625e;
}
.footerLink2 {
    text-align: center;
}
.footerLink2 ul {
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
}
.footerLink2 li {
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 0 6px;
}
.footerLink2 li a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}