
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="{{ asset('layout/css/calender.css') }}" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!------ Include the above in your HEAD tag ---------->


    <!-- <a class="btn btn-sm btn-primaryLine ng-star-inserted">06:30-06:45</a>
    <a class="btn btn-sm btn-primaryLine ng-star-inserted">07:30-07:45</a>
     -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="calendarContainer" ></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="organizerContainer">
        </div>
        </div>

    </div>
    <script >

        var routePlanningPro = "{{ path('detail-planning',{ 'id' : user.id }) }}"

    </script>
	<script src="{{ asset('layout/js/calendar.js') }}" ></script>
  <script type="text/javascript">
        // A $( document ).ready() block.
        $( document ).ready(function() {



            //console.log( "ready!" );
            $.ajax({
                url: routePlanningPro,
                type: "GET",
                //data: {userid: 8},

                success:  function (response) {
                   // var res = JSON.parse(response);
                    var  res= response;
                    console.log(res.result)

                    allData = res.result;
                    calendar = new Calendar("calendarContainer", "small", [ "Lundi", 3 ], [ "#e91e63", "#c2185b", "#ffffff", "#f8bbd0" ]);
                    organizer = new Organizer("organizerContainer", calendar);
                    currentDay = calendar.date.getDate();

                    organizer.setOnClickListener('day-slider', function () { showEvents(); console.log("Day back slider clicked"); }, function () { showEvents(); console.log("Day next slider clicked"); });
                    organizer.setOnClickListener('days-blocks', function () { showEvents(); console.log("Day block clicked"); }, null);
                    organizer.setOnClickListener('month-slider', function () { showEvents(); console.log("Month back slider clicked"); }, function () { showEvents(); console.log("Month next slider clicked"); });
                    organizer.setOnClickListener('year-slider', function () { showEvents(); console.log("Year back slider clicked"); }, function () { showEvents(); console.log("Year next slider clicked"); });


                    keys = Object.keys(allData)

                    showEvents();
                }
            });
        });

        function myFunction(scheduleId){
            //alert(scheduleId)
           // alert(calendar.date(date.toString('MM-dd-yyyy'))
          // var  dateseance = calendar.date(date.toString('MM-dd-yyyy'));
            /*$.ajax({
                url:"/pro/reservation"+"seanceid="+ scheduleId+"seancedate="+calendar.date,
                type: "POST",
                data: {seanceid : scheduleId, seancedate : calendar.date },
                success:  function (response) {
                    console.log(response);

                }
            });*/

            var d = new Date(calendar.date);
            date = [
                d.getFullYear(),
                ('0' + (d.getMonth() + 1)).slice(-2),
                ('0' + d.getDate()).slice(-2)
            ].join('-');

            console.log(date)

            window.location = "/pro/reservation/"+ scheduleId+"/"+date;
        }




    </script>


