{% extends 'base.html.twig' %}

{% block slider %}
    {% include'slider.html.twig' %}
    {% endblock %}
{% block body %}

    <section class="how-works">
        <div class="container-fluid">
            <div class="row">
                <div class="easy-three">
                    <h2>Comment ca marche?</h2>
                    <h5>Prendre un RDV en 5 etapes!!</h5>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>
                        <h5 class="text-primary">choisissez votre pro
                            <small> &amp; etape1</small>
                        </h5>
                    </li>
                    <li>
                        <i class="fa fa-user-md"></i>
                        <h5 class="text-primary">choisissez votre RDV
                            <small>etape2</small>
                        </h5>
                    </li>
                    <li>
                        <i class="fa fa-mobile-alt"></i>
                        <h5 class="text-primary">s'identifier
                            <small>etape3</small>
                        </h5>
                    </li>
                    <li>
                        <i class="fa fa-calendar-alt"></i>
                        <h5 class="text-primary">payer
                            <small>etape4</small>
                        </h5>
                    </li>
                    <li class="last">
                        <i class="fa fa-calendar-alt"></i>
                        <h5 class="text-primary">confirmation du rdv
                            <small>etape5</small>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="videos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="bigTitle text-center">Témoignages</h1>
                </div>
            </div>
        </div>

        <div class="container videos">
            <div class="row">
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
            </div>
        </div>

        <div class="container videos">
            <div class="row">
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
                <div class="col-md-3">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                    <a style="background:#ec7323;">Titre : les sympthomes de la maladie x</a>
                </div>
            </div>
        </div>

    </section>

    <section class="consultation">
        <div class="container">
            <div class="row">
                <h2 class="">Pourquoi nous choisir</h2>
            </div>
            <div class="row">
                <p>The Fisrt Online Music Station. The Fisrt Online Music Station<strong><span style="color: #99cc00;"> 0600000000</span></strong></p>
            </div>
        </div>
        <div class="container fusion">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg1"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg2"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg3"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fusion">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg4"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg5"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg6"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="titleSmal text-center">Ils nous accompagnent</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="loopSlider">
        <div class="container">
            <div class="row blog">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="partnerCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/1.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/2.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/4.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/3.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/1.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/2.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/4.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/3.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a class="carousel-control-prev" href="#partnerCarousel" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#partnerCarousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--.Carousel-->

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
{% endblock %}