{% extends 'base.html.twig' %}

{% block slider %}
    {% include'slider.html.twig' %}
{% endblock %}

{% block body %}
    <link href="{{ asset('layout/css/team.css') }}" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <section class="how-works">
        <div class="container-fluid">
            <div class="row">
                <div class="easy-three">
                    <h2>Comment ca marche?</h2>
                    <h5>Prendre un RDV en 5 etapes!!</h5>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>
                        <h5 class="text-primary">choisissez votre pro
                            <small> &amp; etape1</small>
                        </h5>
                    </li>
                    <li>
                        <i class="fa fa-user-md"></i>
                        <h5 class="text-primary">choisissez votre RDV
                            <small>etape2</small>
                        </h5>
                    </li>
                    <li>
                        <i class="fa fa-mobile-alt"></i>
                        <h5 class="text-primary">s'identifier
                            <small>etape3</small>
                        </h5>
                    </li>
                    <li>
                        <i class="fa fa-calendar-alt"></i>
                        <h5 class="text-primary">payer
                            <small>etape4</small>
                        </h5>
                    </li>
                    <li class="last">
                        <i class="fa fa-calendar-alt"></i>
                        <h5 class="text-primary">confirmation du rdv
                            <small>etape5</small>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="videos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="bigTitle text-center">Nos Professionnels</h1>
                </div>
            </div>
        </div>


        <section id="team" class="pb-5">
            <div class="container">
                <div class="row">
            {% for user in users %}
        <!-- Team member -->

        <div class="col-md-4" style="width: 33%">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                {% if user.photo == null %}
                                <p><img class=" img-fluid" src="https://artscimedia.case.edu/wp-content/uploads/sites/79/2016/12/14205134/no-user-image.gif" alt="card image"></p>
                                    {% else %}
                                        <p><img class=" img-fluid" src="{{ asset(user.photo.src) }}" alt="card image"></p>
                                {% endif %}
                                <h4 class="card-title">{{ user.username }} {{ user.prenom }}</h4>
                                <h5 class="card-text">{{ user.specialite }}</h5>
                                <a href="{{ path('detail-pro',{ 'id' : user.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">

                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">{{ user.username }} {{ user.prenom }}</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <a href="{{ path('detail-pro',{ 'id' : user.id })  }}" class="btn btn-primary btn-sm" style="color: #ffffff !important;"><i class="fa fa-plus"></i> Voir Detail</a>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
            {% endfor %}

</div>
</div>

        </section>



    </section>

    <section class="consultation">
        <div class="container">
            <div class="row">
                <h2 class="">Pourquoi nous choisir</h2>
            </div>
            <div class="row">
                <p>The Fisrt Online Music Station. The Fisrt Online Music Station<strong><span style="color: #99cc00;"> 0600000000</span></strong></p>
            </div>
        </div>
        <div class="container fusion">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg1"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg2"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg3"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fusion">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg4"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg5"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 icon">
                            <i class="fa fa-user bg6"></i>
                        </div>
                        <div class="col-md-9 fusion-des">
                            <p>The Fisrt Online Music Station. The Fisrt Online Music Station</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="titleSmal text-center">Ils nous accompagnent</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="loopSlider">
        <div class="container">
            <div class="row blog">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="partnerCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/1.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/2.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/4.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/3.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/1.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/2.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/4.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3 itemBox">
                                        <a href="#">
                                            <img src="{{ asset('layout/images/3.png') }}" class="img-responsive" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a class="carousel-control-prev" href="#partnerCarousel" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#partnerCarousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--.Carousel-->

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
{% endblock %}