<html>
<head>
    <meta charset="utf-8">
    <title>form-v1 by Colorlib</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('register/css/opensans-font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('register/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="{{ asset('register/css/style.css') }}"/>
    <style>
        .btn-submit{
            float: right;
            background: #65b6c4;
            padding: 12px 29px;
            color: white;
            margin-right: 10%;

            border: 1px solid #fff;
            border-radius: 25px;
            margin-left: 63px;
            margin-top: 10px;
            font-family: Poppins-Regular;
            font-size: 16px;

        }
        textarea{
            min-height: 61px;
            border-radius: 5px;
            margin-top: 8px !important;
            margin: 0px;
            border: 2px solid #e5e5e5;
            width: 100%;
            font-family: sans-serif;
            color: #666666 !important;
            margin-bottom: 8px;

        }
        .form-btn {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            min-width: 160px;
            height: 50px;
            background-color: #57b846;
            border-radius: 25px;
            margin-left: 63px;
            margin-top: 10px;
            font-family: Poppins-Regular;
            font-size: 16px;
            color: #fff;
            line-height: 1.2;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
    </style>
</head>
<body>
<div class="page-content">
    <div class="form-v1-content">
        <div class="wizard-form">
              {{ form_start(form ,{  'attr': { 'class' : 'form-register'}})}}
                <div id="form-total">
                    <!-- SECTION 1 -->
                    <h2>
                        <p class="step-icon"><span>01</span></p>
                        <span class="step-text">Infomations Peronnelles </span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="wizard-header">
                                <h3 class="heading">Infomations Peronnelles</h3>
                                <p>Veuillez entrer vos informations et passer à l'étape suivante afin que nous puissions créer votre compte. </p>
                            </div>
                            <div class="form-row">
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>Nom</legend>
                                        {{ form_errors(form.username) }}
                                        {{ form_widget(form.username,{  'attr': { 'class' : 'form-control','placeholder': 'Nom' } } )}}
                                    </fieldset>
                                </div>
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>Prénom</legend>
                                        {{ form_widget(form.prenom,{  'attr': { 'class' : 'form-control','placeholder': 'Prenom' } } )}}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Email</legend>
                                        {{ form_errors(form.email) }}
                                        {{ form_widget(form.email,{  'attr': { 'class' : 'form-control','placeholder': 'Email' } } )}}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>N° de Téléphone</legend>
                                        {{ form_errors(form.tel) }}
                                        {{ form_widget(form.tel,{  'attr': { 'class' : 'form-control','placeholder': '+0030258964' } } )}}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row form-row-date">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Joindre photo</legend>
                                        {{ form_widget(form.photo,{  'attr': { 'class' : 'form-control' } } )}}
                                    </fieldset>


                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>Mot de passe</legend>
                                        {{ form_errors(form.plainPassword.first) }}
                                        {{ form_widget(form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': '*******' } } )}}
                                    </fieldset>
                                </div>
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>Confirmation Mot de passe </legend>
                                        {{ form_errors(form.plainPassword.second) }}
                                        {{ form_widget(form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': '*******' } } )}}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- SECTION 2 -->
                    <h2>
                        <p class="step-icon"><span>02</span></p>
                        <span class="step-text">Experience</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="wizard-header">
                                <h3 class="heading">Experience</h3>
                                <p>Veuillez entrer vos informations et passer à l'étape suivante afin que nous puissions créer votre compte.</p>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset >

                                        <legend>Votre specialité</legend>
                                        {{ form_widget(form.specialite)}}

<br>

                                            {{ form_widget(form.spec,{  'attr': { 'class' : 'form-control','placeholder': 'Décrire votre specialite' } } )}}

                                        <br>
                                    </fieldset>


                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-holder">
                                    <fieldset >
                                        <legend>Durée de la consultation</legend>
                                        {{ form_widget(form.duree,{  'attr': { 'class' : 'form-control','placeholder': '30 min' } } )}}

                                    </fieldset>
                                </div>
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>prix de la consultation</legend>
                                        {{ form_widget(form.prix,{  'attr': { 'class' : 'form-control','placeholder': '45' } } )}}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>Joindre CV</legend>
                                        {{ form_errors(form.cv) }}
                                        {{ form_widget(form.cv,{  'attr': { 'class' : 'form-control'} } )}}
                                    </fieldset>
                                </div>
                                <div class="form-holder">
                                    <fieldset>
                                        <legend>Joindre Diplome</legend>
                                        {{ form_errors(form.diplome) }}
                                        {{ form_widget(form.diplome,{  'attr': { 'class' : 'form-control'} } )}}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Joindre CIN</legend>
                                        {{ form_errors(form.cin) }}
                                        {{ form_widget(form.cin,{  'attr': { 'class' : 'form-control'} } )}}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- SECTION 3 -->
                    <h2>
                        <p class="step-icon"><span>03</span></p>
                        <span class="step-text">Informations bancaire</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="wizard-header">
                                <h3 class="heading">Informations bancaire</h3>
                                <p>Veuillez entrer vos informations et passer à l'étape suivante afin que nous puissions créer votre compte.</p>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Vos cordonnés bancaires/postales</legend>
                                        <fieldset>
                                            <legend>RIB</legend>
                                        {{ form_errors(form.numrib) }}
                                        {{ form_widget(form.numrib,{  'attr': { 'class' : 'form-control','placeholder': 'RIB' } } )}}
                                        </fieldset>
                                        <BR>
                                        <fieldset>
                                            <legend>Carte e-dinar</legend>
                                            {{ form_errors(form.edinar) }}
                                        {{ form_widget(form.edinar,{  'attr': { 'class' : 'form-control','placeholder': 'Carte e-dinar' } } )}}
                                    </fieldset>
                                        <BR>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Joindre RIB</legend>
                                        {{ form_errors(form.rib) }}
                                        {{ form_widget(form.rib,{  'attr': { 'class' : 'form-control'} } )}}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-submit" id="_submit" name="_submit" style="float: right;">
                            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>S'inscrire
                        </button>
                    </section>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script src="{{ asset('register/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('register/js/jquery.steps.js') }}"></script>
<script src="{{ asset('register/js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
