{% extends 'layout-pro/base.html.twig' %}

{% block body %}

    <div class="table-agile-info">
        <div class="panel panel-default">
            <!---728x90--->

            <div class="panel-heading">
               Mes Rendez-Vous
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                    <tr>
                        <th data-breakpoints="xs">N°</th>

                        <th>Particulier</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set num=0 %}
                    {% for rdv in rdvs %}
                        <tr data-expanded="true">
                            <td>{% set num = num+1 %} {{ num }}</td>

                            <td>
                                    {{ rdv.particulier.username }}
                                </td>

                            <td>{{ rdv.date|date('d-m-Y') }}</td>
                            <td>{{ rdv.seance.time|date('H:i') }}</td>


                            <td class=" text-align: left;"><a href=" {{ path('call-video',{'rdv_id': rdv.id}) }}"class='btn btn-info' id="call_btn" data-id="{{ rdv.particulier.id }}">
                                 Accéder à votre Consultation <span class="fa fa-video-camera"></span></a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!---728x90--->

        </div>





    </div>
{% endblock %}