{% extends 'layout-pro/base.html.twig' %}

{% block body %}
    <div class="form-w3layouts" style="margin: 5% 10%">

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Changer mot de passe
                    </header>
                    <div class="panel-body">
                        {{ form_start(edit_form,{  'attr': { 'class' : 'form-horizontal bucket-form' } }) }}

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nouveau mot de passe:</label>
                            <div class="col-sm-6">
                                {{ form_errors(edit_form.plainPassword.first) }}
                                {{ form_widget(edit_form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': '*******' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Confirmation mot de passe:</label>
                            <div class="col-sm-6">
                                {{ form_errors(edit_form.plainPassword.second) }}
                                {{ form_widget(edit_form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': '*******' } } )}}
                            </div>
                        </div>


                        <input type="submit" class="btn btn-primary" value="Enregistrer" style="float: right; margin-right: 15%"/>
                        {{ form_end(edit_form) }}
                    </div>
                </section>

            </div>
        </div>


    </div>
{% endblock %}