{% extends 'layout-pro/base.html.twig' %}

{% block body %}
    <div class="form-w3layouts">

    <div class="row">
    <div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
          Modifier Votre Profile
        </header>
        <div class="panel-body">
            {{ form_start(edit_form,{  'attr': { 'class' : 'form-horizontal bucket-form' } }) }}

                <div class="form-group">
                    <label class="col-sm-3 control-label">Nom</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.username,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Prénom</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.prenom,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">photo de profile</label>
                <div class="col-sm-6">
                    {{ form_widget(edit_form.photo,{  'attr': { 'class' : 'form-control' } } )}}
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.email,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Téléphone</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.tel,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Specialité</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.specialite,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Décrire votre specialite</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.spec,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Durée de la consultation</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.duree,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Prix de la consultation</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.prix,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CV</label>
                <div class="col-sm-6">
                    {{ form_widget(edit_form.cv,{  'attr': { 'class' : 'form-control' } } )}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Diplome</label>
                <div class="col-sm-6">
                    {{ form_widget(edit_form.diplome,{  'attr': { 'class' : 'form-control' } } )}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Cin</label>
                <div class="col-sm-6">
                    {{ form_widget(edit_form.cin,{  'attr': { 'class' : 'form-control' } } )}}
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">RIB</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.numrib,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">N° Carte e-dinar</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.edinar,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">RIB</label>
                <div class="col-sm-6">
                    {{ form_widget(edit_form.rib,{  'attr': { 'class' : 'form-control' } } )}}
                </div>
            </div>
                <input type="submit" class="btn btn-primary" value="Enregistrer" style="float: right; margin-right: 15%"/>
           {{ form_end(edit_form) }}
        </div>
    </section>

    </div>
    </div>


    </div>
{% endblock %}