{% extends 'layout-pro/base.html.twig' %}

{% block body %}
    <div class="form-w3layouts">

    <div class="row">
    <div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
          Modifier Vos fichiers
        </header>
        <div class="panel-body">
            {{ form_start(edit_form,{  'attr': { 'class' : 'form-horizontal bucket-form' } }) }}

                <div class="form-group">
                    <label class="col-sm-3 control-label">photo de profile</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.photo,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">CV</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.cv,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Diplome</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.diplome,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Cin</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.cin,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">RIB</label>
                    <div class="col-sm-6">
                        {{ form_widget(edit_form.rib,{  'attr': { 'class' : 'form-control' } } )}}
                    </div>
                </div>


                <input type="submit" class="btn btn-primary" value="Enregistrer" style="float: right; margin-right: 15%"/>
           {{ form_end(edit_form) }}
        </div>
    </section>

    </div>
    </div>


    </div>
{% endblock %}