{% extends 'layout-pro/base.html.twig' %}

{% block body %}
<style>

</style>

<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
<link rel="stylesheet" type="text/css" href="{{ asset('planning/dist/tui-calendar.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('planning/css/default.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('planning/css/icons.css') }}"/>
<style>



    .alert {
        padding: 11px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-top: -10px;
    }
    body {

        background-color: rgb(240, 188, 180);
    }
    #lnb {

        background: rgba(139, 92, 126, 0.72);
    }
    .lnb-new-schedule-btn {
        height: 50px !important;
        font-size: 14px;
        background-color: #47138e;
        color: #ffffff;
        border: 0;
        border-radius: 25px;
        padding: 10px 20px;
        font-weight: bold;
    }
    #right {
        position: absolute;
        left: 19%;
        top: 81px;
        right: 0;
        bottom: 0;
    }
    #sidebar {
        width: 19%;
    }
</style>


<div id="right" >
    <div id="menu" style="display: none">
            <span class="dropdown">
                <button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <i id="calendarTypeIcon" class="calendar-icon ic_view_month" style="margin-right: 4px;"></i>
                    <span id="calendarTypeName">Dropdown</span>&nbsp;
                    <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                            <i class="calendar-icon ic_view_day"></i>Quotidien
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                            <i class="calendar-icon ic_view_week"></i>Semaine
                        </a>
                    </li>
                   {# <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                            <i class="calendar-icon ic_view_month"></i>Mois
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                            <i class="calendar-icon ic_view_week"></i>2 Semaines
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                            <i class="calendar-icon ic_view_week"></i>3 Semaines
                        </a>
                    </li>
                    <li role="presentation" class="dropdown-divider"></li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-workweek">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-workweek" checked>
                            <span class="checkbox-title"></span>fins de semaine
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-start-day-1">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-start-day-1">
                            <span class="checkbox-title"></span>le lundi, départ de Semaine
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-narrow-weekend">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-narrow-weekend">
                            <span class="checkbox-title"></span>Plus étroit que la semaine
                        </a>
                    </li>#}
                </ul>
            </span>
            {#<span id="menu-navi">
                <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Aujourd'hui</button>
                <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                </button>
            </span>#}
        <span id="renderRange" class="render-range"></span>
    </div>
    <div id="calendar"></div>
</div>








<script >
    var routePlanning = "{{ path('planning') }}"
    var routeAddSeance = "{{ path('seance_new') }}"
   // var routeEditSeance = "/professionnel/26/editSeance"
    window.duration = {{ app.user.duree }};
</script>






    <script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>

    <script src="{{ asset('planning/dist/tui-calendar.js') }}"></script>
    <script src="{{ asset('planning/js/data/calendars.js') }}"></script>
    <script src="{{ asset('planning/js/data/schedules.js') }}"></script>
    <script src="{{ asset('planning/js/theme/dooray.js') }}"></script>
    <script src="{{ asset('planning/js/default.js') }}"></script>
{% endblock %}