{% extends 'layout-admin/base.html.twig' %}

{% block body %}
   <style>
       .form-horizontal .control-label {

            text-align: left;
       }
   </style>
    <div class="form-w3layouts">

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                    Ajouter Nouveau Professionnel
                    </header>
                    <div class="panel-body">
                        {{ form_start(form,{  'attr': { 'class' : 'form-horizontal bucket-form' } }) }}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.username,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Prénom:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.prenom,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">photo de profile:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.photo,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.email,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mot de passe:</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': '*******' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirmation mot de passe:</label>
                            <div class="col-sm-6">
                                {{ form_errors(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': '*******' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Téléphone:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.tel,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Specialité:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.specialite,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Décrire votre specialite:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.spec,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Durée de la consultation:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.duree,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Prix de la consultation:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.prix,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Joindre CV:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.cv,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Joindre Diplome:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.diplome,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Joindre Cin:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.cin,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RIB:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.numrib,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">N° Carte e-dinar:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.edinar,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Joindre RIB:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.rib,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Enregistrer" style="float: right; margin-right: 15%"/>
                        {{ form_end(form) }}
                    </div>
                </section>

            </div>
        </div>


    </div>
{% endblock %}