{% extends 'layout-admin/base.html.twig' %}

{% block body %}
    <style>
        .form-horizontal .control-label {

            text-align: left;
        }
    </style>
    <div class="form-w3layouts">

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Ajouter Nouveau specialite
                    </header>
                    <div class="panel-body">
                        {{ form_start(form,{  'attr': { 'class' : 'form-horizontal bucket-form' } }) }}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title:</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.nom,{  'attr': { 'class' : 'form-control' } } )}}
                            </div>
                        </div>



                        <input type="submit" class="btn btn-primary" value="Enregistrer" style="float: right; margin-right: 15%"/>
                        {{ form_end(form) }}
                    </div>
                </section>

            </div>
        </div>


    </div>
{% endblock %}