{% extends 'layout-admin/base.html.twig' %}

{% block body %}

<style>
    .market-update-right i.fa.fa-calendar {
        font-size: 3em;
        color: #fff;
        text-align: left;
    }
    .market-update-right i.fa.fa-tags {
        font-size: 3em;
        color: #fff;
        text-align: left;
    }
</style>
    <div class="market-updates">
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-2">
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-users"> </i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Particuliers</h4>
                    {% set count=0 %}
                    {% for part in parts %}
                        {% set count=count+1 %}
                    {% endfor %}
                    <h3>{{ count }}</h3>
                    <p>Déja inscrit<br>
                        ...........</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-1">
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-users" ></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Professionnels</h4>
                    {% set count=0 %}
                    {% for prof in profs %}
                        {% set count=count+1 %}
                        {% endfor %}
                    <h3>{{ count }}</h3>
                    <p>Déja inscrit<br>
                    ...........</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-3">
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Rendez-Vous</h4>
                    {% set count=0 %}
                    {% for rdv in rdvs %}
                        {% set count=count+1 %}
                    {% endfor %}
                    <h3>{{ count }}</h3>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-4">
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Specialités</h4>
                    {% set count=0 %}
                    {% for spec in specialites %}
                        {% set count=count+1 %}
                    {% endfor %}
                    <h3>{{ count }}</h3>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //market-->

{% endblock %}