{% extends 'layout-admin/base.html.twig' %}

{% block body %}

    <div class="table-agile-info">
        <div class="panel panel-default">
            <!---728x90--->

            <div class="panel-heading">
                Liste Specialités
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                    <tr>
                        <th data-breakpoints="xs">ID</th>
                        <th>Title </th>
                        <th>Date création</th>
                        <th>Etat</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for spec in specialites %}
                        <tr data-expanded="true">
                            <td>{{ spec.id }}</td>
                            <td>{{ spec.nom }}  </td>

                            <td>{{ spec.date|date('d-m-Y H:i') }}</td>

                            <td>
                                {% if  spec.status ==1  %}

                                    <span class="label label-success">Activée</span>{% else %}
                                    <span class="label label-warning">Désactivée</span>

                                {% endif %}
                            </td>
                            <td>
                                {% if   spec.status ==1  %}

                                    <form method="post" action="{{ path('spec_bloq',{ 'id' : spec.id }) }}">
                                        <div style="" type="hidden">
                                        </div>

                                        <input type="submit" class="btn btn-danger" value="Bloquer ?">
                                    </form>
                                {% else %}




                                    <form method="post" action="{{ path('spec_act',{ 'id' : spec.id }) }}">
                                        <div style="" type="hidden">
                                        </div>

                                        <input type="submit" class="btn btn-primary" value="Activer ?">
                                    </form>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!---728x90--->

        </div>
    </div>
{% endblock %}