{% extends 'layout-admin/base.html.twig' %}

{% block body %}

<div class="table-agile-info">
    <div class="panel panel-default">
        <!---728x90--->

        <div class="panel-heading">
           Liste Professionnel
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                <thead>
                <tr>
                    <th data-breakpoints="xs">ID</th>
                    <th>Nom & Prenom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Specialité</th>
                    <th>durée</th>
                    <th>Prix</th>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr data-expanded="true">
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }} {{ user.prenom }} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.tel }}</td>
                    <td>{{ user.specialite }}</td>
                    <td>{{ user.duree }}</td>
                    <td>{{ user.prix }}</td>
                    <td>
                        {% if  user.enabled ==1  %}

                            <span class="label label-success">Activée</span>{% else %}
                            <span class="label label-warning">Désactivée</span>

                        {% endif %}
                    </td>
                    <td>
                        {% if  user.enabled ==1  %}

                            <form method="post" action="{{ path('pro_bloq',{ 'id' : user.id }) }}">
                                <div style="" type="hidden">
                                </div>

                                <input type="submit" class="btn btn-danger" value="Bloquer ?">
                            </form>
                        {% else %}




                            <form method="post" action="{{ path('pro_edit',{ 'id' : user.id }) }}">
                                <div style="" type="hidden">
                                </div>

                                <input type="submit" class="btn btn-success" value="Activer ?">
                            </form>
                        {% endif %}
                    </td>

                </tr>
               {% endfor %}
                </tbody>
            </table>
        </div>
        <!---728x90--->

    </div>
</div>
{% endblock %}