{% extends 'layout-admin/base.html.twig' %}

{% block body %}

<div class="table-agile-info">
    <div class="panel panel-default">
        <!---728x90--->

        <div class="panel-heading">
           Liste Planning Professionnel
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                <thead>
                <tr>
                    <th data-breakpoints="xs">ID</th>
                    <th>Nom & Prenom</th>
                    <th>Specialité</th>
                    <th>durée</th>
                    <th>Prix</th>

                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr data-expanded="true">
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }} {{ user.prenom }} </td>

                    <td>{{ user.specialite }}</td>
                    <td>{{ user.duree }}</td>
                    <td>{{ user.prix }}</td>

                    <td>
                       <a href="{{ path('show-planning',{ 'id' : user.id }) }}" class="btn btn-primary"> <i class="fa fa-eye"></i> Planning</a>
                    </td>

                </tr>
               {% endfor %}
                </tbody>
            </table>
        </div>
        <!---728x90--->

    </div>
</div>
{% endblock %}