
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
var notif = new WebSocket("ws://localhost:8080");

   notif.onopen = function() {
    	var data = {
			type: 'check_for_notifcation',
			from: "admin",
		};
		
		var msgJSON = JSON.stringify(data);
		notif.send(msgJSON);
     }
	 
	 
	 

   /*notif.onerror = function(error) {
      $('.content').append('<p> >>> Error...</p>');
      //alert('error');
     }*/
	 
	

</script>
</body>
</html>
