
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- {{ asset('') }} -->
  
  <!-- Favicons -->
  <link href="{{ asset('img/favicon.png') }}" rel="icon">
  <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ asset('lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body>
<!--==========================
    Header
  ============================-->
  <header id="header">
    {% include '@Socket/Default/header.html.twig' only %}
  </header><!-- #header -->
  
    <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{{ asset('img/intro-carousel/1.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>We are professional</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{{ asset('img/intro-carousel/2.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>At vero eos et accusamus</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{{ asset('img/intro-carousel/3.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Temporibus autem quibusdam</h2>
                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{{ asset('img/intro-carousel/4.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nam libero tempore</h2>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{{ asset('img/intro-carousel/5.jpg') }}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Magnam aliquam quaerat</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->



<button id="send">send notif</button>
<div class="content">

</div>

<div id="content">
		<video id="localVideo" autoplay muted style="width:40%;"></video>
		<video id="remoteVideo" autoplay style="width:40%;"></video><br>
		
		<button id="mute" value="mute">mute</button>
		<button id="stopCam" value="cam">close video</button>

		<br>
	 
		<input type="button" id="start" onclick="invite()" value="Start Call"></input>&nbsp;
		<input id="user_id_tocall" placeholder="user id to call" required="" autofocus=""><br>
		<select name="users" id="users" class="form-control" title="Please Select">
			<option selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
		  </select>
		  
		<br><br>
		<button id="hangup-button" onclick="hangUpCall();" disabled>
			Hang Up
   	    </button>
		  
	</div>
	<script src="https://cdn.webrtc-experiment.com/DetectRTC.js"> </script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
var notif = new WebSocket("ws://localhost:8080");
   var token_user;
   notif.onmessage = function (event) {
		console.log(event.data);
		console.log(typeof(event.data));
      $('.content').append('<p>'+ event.data +'</p>');
	  
	  var msg = JSON.parse(event.data);
	  
		switch(msg.type) {
			case "notification_send":
				$('.content').append('<p>You just recived a notification</p>');
				break;
			
			default:
		}
    } 
   /*notif.onopen = function() {
         $('.content').append('<p> >>> Connected</p>');
		 
		if(getCookie("userID") != ""){
			token_user = getCookie("userID");
			console.log("exist");
		}else{
			token_user = createUUID();
			document.cookie ='userID='+token_user+'; expires=Fri, 3 Aug 2020 20:47:11 UTC; path=/'
		} 
		 
       //var token_user = *TOKEN_USER*;
       
        //var authElements = "{\"userData\":\""+token_user+"\"}";
		 
		var data = {
			type: 'login',
			from: "test"+token_user,
			userData: token_user
		};
		
		var msgJSON = JSON.stringify(data);
		//notif.send(msgJSON);
     }*/
	 
	 $("#send").click(function(){
	 console.log("send")
		var data = {
			type: 'notification_send',
			from: token_user,
			userData: token_user
		};
		
		var msgJSON = JSON.stringify(data);
		notif.send(msgJSON);
	 });
	 

   /*notif.onerror = function(error) {
      $('.content').append('<p> >>> Error...</p>');
      //alert('error');
     }*/
	 
	function createUUID() {
		function s4() {
			return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
		}

		return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
	}
	
	function getCookie(cname) {
	  var name = cname + "=";
	  var decodedCookie = decodeURIComponent(document.cookie);
	  var ca = decodedCookie.split(';');
	  for(var i = 0; i <ca.length; i++) {
		var c = ca[i];
		while (c.charAt(0) == ' ') {
		  c = c.substring(1);
		}
		if (c.indexOf(name) == 0) {
		  return c.substring(name.length, c.length);
		}
	  }
	  return "";
	}

</script>


  <script src="{{ asset('webrtc.js') }}"></script>
<!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ asset('lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('lib/easing/easing.min.js') }}"></script>
  <script src="{{ asset('lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ asset('lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ asset('lib/wow/wow.min.js') }}"></script>
  <script src="{{ asset('lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ asset('lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('lib/lightbox/js/lightbox.min.js') }}"></script>
  <script src="{{ asset('lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{ asset('contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ asset('js/main.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){ 
		
			DetectRTC.load(function() {
				console.log("DetectRTC");
				
				if (DetectRTC.isWebRTCSupported === false) {
					alert('Please use Chrome or Firefox.');
				}

				if (DetectRTC.hasWebcam === false) {
					alert('Please install an external webcam device.');
				}

				if (DetectRTC.hasMicrophone === false) {
					alert('Please install an external microphone device.');
				}

				if (DetectRTC.hasSpeakers === false && (DetectRTC.browser.name === 'Chrome' || DetectRTC.browser.name === 'Edge')) {
					alert('Oops, your system can not play audios.');
				}
				
				
			});
			
			//$("#content").hide();
			
			$("#login_btn").click(function(){
				console.log("login clicked");
				
					if ($("#username").val() == "" ) {
						alert('Please enter a username ')
						return
					}
					  
					uuid = createUUID();
					console.log(uuid);
					document.cookie ='userID='+uuid+'; expires=Fri, 3 Aug 2020 20:47:11 UTC; path=/'
					document.cookie ='userName='+$("#username").val()+'; expires=Fri, 3 Aug 2020 20:47:11 UTC; path=/'
					pageReady($("#username").val());
			});
			
			$("#mute").click(function(){
				console.log("mute clicked");
				muteCall(1);
			});
			
			$("#stopCam").click(function(){
				console.log("mute clicked");
				muteCall(2);
			});
			
			
			
			//checkLogin();
			pageReady();
		});
        
    </script>
</body>
</html>
