{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('client/css/style.css') }}" type="text/css" media="all" />

    <!--// css -->
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="{{ asset('client/js/jquery.min.js') }}"></script>

<style>
    .custab{
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }
    .custab:hover{
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        font-weight: bold;
    }
    h4{
        font-size: 20px;
        font-weight: 700;
        color: #80470b;
    }
</style>
    <div style="padding: 30px">
        <h1>Profile</h1>
    <div class="containerw3layouts-agileits">

        <div id="verticalTab" class="resp-vtabs w3-agile" style="display: block; width: 100%; margin: 0px;">

            <ul class="resp-tabs-list agileits-w3layouts">
                <li class="resp-tab-item"><span>A propos</span></li>
                <li class="resp-tab-item" id="notif_rdv"><span>Rendez-vous</span></li>
                <li class="resp-tab-item agileinfo"><span>Historique</span></li>

                <li class="resp-tab-item"><span>Déconnexion</span></li>
            </ul>

            <div class="resp-tabs-container">

                <div class="resp-tab-content">
                    <div class="agileabout">
                        <div class="agileabout-image w3-agileits">
                            <img src="{{ asset('client/images/man.jpg') }}" alt="W3layouts">
                        </div>
                        <div class="agileabout-info">
                            <ul>
                                <li><div class="li1">Pseudo</div><div class="li2">:</div><div class="li3">{{ app.user.username }}</div><div class="clearfix"></div></li>
                                <li><div class="li1">Email</div><div class="li2">:</div><div class="li3">{{ app.user.email }}</div><div class="clearfix w3-agileits"></div></li>
                            </ul>
                            <br><br>
                            <div class="col-md-8">
                                <a class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br><br>
                                    <span class="texto_grande"><i class="fa fa-edit" ></i> Modifier Profile</span></a>
                            </div>

                        </div>
                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="    background: #ffc107;">
                                        <center>  <span class="modal-title">changer Votre mot de passe </span></center>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                       <div class="form-div">
                                            <form action="/action_page.php">
                                                <div class="form-group">
                                                    <label style="float: left">Nouveau Mot de passe:</label>
                                                    <input type="password" class="form-control" name="pwd"  >
                                                </div>
                                                <div class="form-group">
                                                    <label style="float: left">confirmation Mot de passe:</label>
                                                    <input type="password" class="form-control" name="cpwd"  >
                                                </div>
                                                <div class="form-check">

                                                </div>
                                                <button type="submit" class="btn btn-primary btn-block mybtn">Submit</button>


                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="resp-tab-content">
                    <div class="work" >
                        <div class="row col-md-12 custyle">
                            <h1 style="color:white">Mes Rendez-Vous</h1>
                            <table class="table table-striped custab" style="margin:2%;  background: white;">
                                <thead>

                                <tr>
                                    <th>N°</th>
                                    <th>Professionnel</th>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                {% set num=0 %}
                                {% for rdv in rdvs %}
                                    <tr>
                                        <td>{% set num = num+1 %} {{ num }}</td>

                                        <td>  <a  data-toggle="modal" data-target="#{{ rdv.prof.username }}">
                                                {{ rdv.prof.username }}
                                            </a></td>

                                        <td>{{ rdv.date|date('d-m-Y') }}</td>
                                        <td>{{ rdv.seance.time|date('H:i') }}</td>

                                        <td class="text-center"><a class='btn btn-info btn-xs' href="{{ path('call-video',{'rdv_id': rdv.id}) }}"><span class="glyphicon glyphicon-edit"></span>Accéder à votre Consultation</a>
                                      </td>
                                    </tr>
                                    <!-- The Modal -->
                                    <div class="modal fade" id="{{ rdv.prof.username }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header" style="background: #e0a902;">
                                                    <center>  <span class="modal-title">{{ rdv.prof.username }} {{ rdv.prof.prenom }} </span></center>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <img src="{{ asset(rdv.prof.photo.src) }}" class="img-respensive" style="border-radius: 50%;    width: 115px;"/>
                                                    <h4>{{ rdv.prof.specialite }}</h4>
                                                    <p class="text-intro">{{ rdv.prof.spec }}.</p>
                                                    <div class="form-div">


                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>

                <div class="resp-tab-content">
                    <div class="work w3-agileits">
                        <div class="work-info">
                            <h4>2007 - 2009</h4>
                            <h5>University</h5>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                        </div>
                        <div class="work-info agileinfo">
                            <h4>2004 - 2007</h4>
                            <h5>Senior High</h5>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                        </div>
                        <div class="work-info w3layouts">
                            <h4>1995 - 2004</h4>
                            <h5>School</h5>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                        </div>
                    </div>
                </div>

                <div class="resp-tab-content">
                    <div class="our-skills">
                        <div class="single-skill">
                            <p class="lead">HTML</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-1">90%</div>
                            </div>
                        </div>
                        <div class="single-skill">
                            <p class="lead">CSS</p>
                            <div class="progress wthree">
                                <div class="progress-bar progress-bar-2">80%</div>
                            </div>
                        </div>
                        <div class="single-skill">
                            <p class="lead">JAVASCRIPT</p>
                            <div class="progress w3-agile">
                                <div class="progress-bar progress-bar-3">85%</div>
                            </div>
                        </div>
                        <div class="single-skill">
                            <p class="lead">PHP</p>
                            <div class="progress">
                                <div class="progress-bar agile progress-bar-4">95%</div>
                            </div>
                        </div>
                        <div class="single-skill">
                            <p class="lead">SQL</p>
                            <div class="progress w3layouts">
                                <div class="progress-bar progress-bar-5">75%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="resp-tab-content">
                    <div class="agileabout-info aitsabout">
                        <ul>
                            <li><div class="li1">Name</div><div class="li2 wthree">:</div><div class="li3">Alan Parrish</div><div class="clearfix w3-agile"></div></li>
                            <li><div class="li1 w3-agile">Birthday</div><div class="li2">:</div><div class="li3">10/10/1990</div><div class="clearfix"></div></li>
                            <li><div class="li1">Phone</div><div class="li2 w3-agile">:</div><div class="li3">001-8766488735</div><div class="clearfix"></div></li>
                            <li><div class="li1">Email</div><div class="li2">:</div><div class="li3"><a class="mail" href="mailto:mail@example.com">info@example.com</a></div><div class="clearfix agile"></div></li>
                            <li><div class="li1">Website</div><div class="li2">:</div><div class="li3"><a href="#">www.examplesite.com</a></div><div class="clearfix"></div></li>
                            <li><div class="li1 w3-agile">Address</div><div class="li2">:</div><div class="li3">Parma Via Modena, 40019, Sant'Agata Bolognese, BO, Italy</div><div class="clearfix"></div></li>
                        </ul>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clear"></div>

            </div>
            <div class="clear w3-agile"></div>

        </div>

    </div>







    </div>

{% endblock %}