<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wizard-v3</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('layout2/css/roboto-font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('layout2/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
    <!-- datepicker -->
    <link rel="stylesheet" type="text/css" href="{{ asset('layout2/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('layout2/css/jquery-ui.min.css') }}">
    <!-- Main Style Css -->
<style>
    .actions ul li a {

        padding: 13px 17px;
    }
    .form-register .steps ul {

        padding-left: 148px;
    }
    .form-register .steps li a .title .step-icon {

        margin-right: 146px;
    }
    .form-register .steps li .step-icon::before, .form-register .steps li:last-child .step-icon::after {

        width: 147px;
    }
</style>
</head>
<body>
<div class="page-content" style="background-image: url('https://backgroundcheckall.com/wp-content/uploads/2017/12/medical-background-hd.png')">
<div class="wizard-v3-content">
<div class="wizard-form">
<div class="wizard-header">
    <h3 class="heading">Reservez votre consultation en ligne</h3>
    <p>Remplissez tous les champs du formulaire pour passer à l'étape suivante</p>
</div>
<form class="form-register" action="#" method="post">
<div id="form-total">
<!-- SECTION 1 -->
<h2>
    <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
    <span class="step-text">A propos</span>
</h2>
<section>
    <div class="inner">

        <div class="col-md-12">
            <div class="portfolio">

                <div class="bio-info">
                    <div class="row">
                        <div class="col-md-12 mr-auto">
                            <div class="row">
                                <div class="col-md-4" style="margin-left: 33%;margin-right: 33%">
                                    <div class="bio-image">
                                        <img src="src="{{ asset(seance.user.photo.src) }}" alt="image" style="     margin-top: -67px;border-radius: 50%; max-width: 120px; right: auto;left: auto
                                        " />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="bio-content" style="text-align: center;">
                                <h1>{{ seance.user.username }} {{ seance.user.prenom }} </h1>
                                <p>{{ seance.user.spec }}</p>
                                <h5>Votre rendez-vous par visioconsultation le <span style="color:#26c2ff">{{ dateseance|date('d-m-Y') }} </span>à <span style="color:#26c2ff">{{ seance.time|date('H:i') }}</span>.</h5>
                                <h6>Le règlement sécurisé des honoraires de <span style="color:#26c2ff">{{ seance.user.prix }} €</span> s’effectuera par carte bancaire.
                                    La feuille de soins vous sera adressée par courrier postal par votre praticien ainsi que l’ordonnance si nécessaire.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- SECTION 2 -->

<!-- SECTION 3 -->
<h2>
    <span class="step-icon"><i class="zmdi zmdi-card"></i></span>
    <span class="step-text">Paiement</span>
</h2>
<section>
    <div class="inner">
        <h3>Informations de paiement:</h3>
        <div class="form-row">
            <div class="form-holder form-holder-2">
                <input type="radio" name="radio1" id="pay-1" value="pay-1" checked>
                <label class="pay-1-label" for="pay-1"><img src="{{ asset('layout2/images/wizard_v3_icon_1.png') }}" alt="pay-1">Credit Card</label>
                <input type="radio" name="radio1" id="pay-2" value="pay-2">
                <label class="pay-2-label" for="pay-2"><img src="{{ asset('layout2/images/wizard_v3_icon_2.png') }}" alt="pay-2">Paypal</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label class="form-row-inner">
                    <input type="text" class="form-control" id="holder" name="holder" required>
                    <span class="label">Nom du titulaire*</span>
                    <span class="border"></span>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-holder">
                <label class="form-row-inner">
                    <input type="text" class="form-control" id="card" name="card" required>
                    <span class="label">Numéro de carte*</span>
                    <span class="border"></span>
                </label>
            </div>
            <div class="form-holder">
                <label class="form-row-inner">
                    <input type="text" class="form-control" id="cvc" name="cvc" required>
                    <span class="label">CVC*</span>
                    <span class="border"></span>
                </label>
            </div>
        </div>
        <div class="form-row form-row-date form-row-date-1">
            <div class="form-holder form-holder-2">
                <label for="date" class="special-label">Date d'expiration*:</label>
                <select name="month_1" id="month_1">
                    <option value="Month" disabled selected>Mois</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                </select>
                <select name="year_1" id="year_1">
                    <option value="Year" disabled selected>Année</option>
                    <option value="2017">2020</option>
                    <option value="2016">2021</option>
                    <option value="2015">2022</option>
                    <option value="2014">2023</option>
                    <option value="2013">2024</option>
                </select>
            </div>
        </div>
        {% if ((message is defined) and (message is not null)) %}
            {% else %}
        <div class="form-row form-row-date form-row-date-1">



          <a href="{{ path('add_rdv',{'idseance':seance.id,'dateseance':dateseance} ) }}" class="btn btn-success" >valider paiment</a>
        </div>
        {% endif %}

    </div>
</section>
<!-- SECTION 4 -->
<h2>
    <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
    <span class="step-text">Confirmation</span>
</h2>
<section>
    <div class="inner">

        <div class="form-row table-responsive">
            {% if ((message is defined) and (message is not null)) %}
                <div> </div>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Félicitations !</h4>
                    <p>{{ message }}<br>
                        Votre rendez-vous par visioconsultation le {{ dateseance|date('d-m-Y') }} à {{ seance.time|date('H:i') }}
                    </p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Paiment Non valide!</strong> <br>Vous devriez vérifier sur certains champs de l'etape precedente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endif %}

         </div>
    </div>
    <a href="{{ path('particulier_homepage') }}" class="btn btn-primary" style="float: right; margin-top: 20px"> Terminer</a>
</section>
</div>
</form>
</div>
</div>
</div>
<script src="{{ asset('layout2/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('layout2/js/jquery.steps.js') }}"></script>
<script src="{{ asset('layout2/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('layout2/js/main.js') }}"></script>
</body>
</html>