<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login 555</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('register2/images/icons/favicon.ico') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('register2/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('register2/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('register2/css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body class="page-content">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background: #3e4061;">
					<span class="login100-form-title-1">

                        S'inscrire
					</span>
            </div>

<input type="text" value="" class="form-control" >
            {{ form_start(form, { 'attr': {'class': 'login100-form validate-form'}}) }}
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100">Pseudo</span>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username,{  'attr': { 'class' : 'input100','placeholder': 'Wiso' } } )}}
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100">Email</span>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email,{  'attr': { 'class' : 'input100','placeholder': 'wiso@sample.com' } } )}}
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                <span class="label-input100">Mot de passe</span>
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first,{  'attr': { 'class' : 'input100','placeholder': '*******' } } )}}
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                <span class="label-input100">Confirmation mot de passe</span>
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second,{  'attr': { 'class' : 'input100','placeholder': '*******' } } )}}
                <span class="focus-input100"></span>
            </div>



            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit"  id="_submit" name="_submit">
                    S'inscrire
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


<script src="{{ asset('register2/js/main.js') }}"></script>

</body>
</html>