{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body{
            background: #e0e0e0;
        }
        .loc-video{
          width:150px;
            height: 150px;
            background: rgba(20, 16, 6, 0.35);
            float: right;
            margin-right: 4%;
            margin-top: -20%;
        }
        .rem-video{
            width: 90%;

            margin: 5%;
            background: #62686f;
            background-repeat: no-repeat !important;
            height: 415px;
            background-size: cover !important;
        }
        .bg-dark {
            background-color: #141006 !important;
        }
    </style>
    <div class="container" style="padding: 1% 13%; margin-top: 4%;margin-bottom: 4%;">
        <div class="card card-login mx-auto text-center bg-dark" >
            <div class="card-header mx-auto bg-dark" style="background: #403f3e !important;">
                <span> <img src="{{ asset('layout/images/call-vid1.png') }}" class="w-75" alt="Logo"> </span><br/>



            </div>
            <video id="remoteVideo" autoplay muted class="card-body rem-video" style=""></video>
            <div class="col-md-12">
                <video id="localVideo" autoplay class="loc-video" ></video>
            </div>

            <div class="col-md-12" style="margin-bottom: 40px">
            <ul style="display: inline-flex;">
                <li style="display: flex; margin-right: 10px;" >
                    <input type="button" id="start" onclick="invite({{ usertocall }}, {{ rdv_id }})" value="Start Call" class="btn btn-success"></input>&nbsp;

                </li>
                <li style="display: flex; margin-right: 10px;">
                    <button id="mute" value="mute" class="btn btn-dark" style="" onclick="muteCall(1)">mute</button>
                </li >
                <li style="display: flex; margin-right: 10px;" >
                    <button id="stopCam" value="cam" class="btn btn-danger" style="" onclick="muteCall(2)">close video</button>

                </li>
                <li style="display: flex; margin-right: 10px;" >
                    <button id="hangup-button" class="btn btn-warning" onclick="hangUpCall();" disabled>
                        Hang Up
                    </button>
                </li>

            </ul>


            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="container" >


            <div id="content">



                <br>





            </div>

        </div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header" style="background: rgb(227, 192, 18)">
                        <center>  <span class="modal-title">Call video</span></center>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-div">

                            <a type="button" class="btn btn-success btn-block mybtn accept_call" data-caller="0"   data-dismiss="modal">start video</a>
                            <button type="submit" class="btn btn-danger btn-block mybtn dicline_call" data-dismiss="modal" data-caller="0" >close video</button>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){


        {% if is_granted("ROLE_PARTICULIER") %}
            var user = {{ app.user.id }};
            var usertocall = {{ usertocall }};
            console.log(user)
           // acceptCall(usertocall, user);
        {% endif %}

            $(".accept_call").click(function(){
                handleVideoOfferMsg();

            });




    });

    </script>
{% endblock %}