<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="{{ path('gestion_homepage') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard Admin</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-suitcase"></i>
                        <span> Specialité</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('gestion_specilalite') }}"><i class=" fa fa-tags"></i> Listes</a></li>
                        <li> <a href="{{ path('spec_new') }}"><i class="fa fa-pencil"></i> Ajouter nouveau</a></li>

                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-suitcase"></i>
                        <span> Professionnel</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('gestion_professionel') }}"><i class=" fa fa-tags"></i> Listes</a></li>
                        <li> <a href="{{ path('pro_new') }}"><i class="fa fa-pencil"></i> Ajouter nouveau</a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="{{ path('gestion_particulier') }}">
                        <i class="fa fa-th"></i>
                        <span> Liste particulier</span>
                    </a>

                </li>

                <li class="sub-menu">
                    <a href="{{ path('gestion-planning') }}">
                        <i class="fa fa-th"></i>
                        <span> Planning</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bullhorn"></i>
                        <span> Les RDV </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-bell-o"></i>
                        <span>Notification</span>
                    </a>

                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-key"></i>
                        <span>Déconnexion</span>
                    </a>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>